@font-face {
	font-family: "Cuprum";
	src:

		url("../fonts/cuprum.woff")
		format("woff");
}


body {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: 24px;
  color: rgb(0, 0, 0);
  min-width: 960px;
  }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}



/* Header */

.main-header {
	margin-bottom: 59px;
	background-color: #f3f7f9;
	width: 100%;
	max-height: 280px;
	margin-bottom: 44px;
	}

.up-navigation-background {
	width: 100%;
	background-color: #33445a;
   }


.catalog-header {
	 margin-bottom: 23px;
}

.up-navigation {
	width: 940px;
	margin-bottom: 46px;
	background-color: 0ff1e6;
}


.logo {
   float: left;
   width: 112px;
   background-color: #ff5357;
   font-family: "Cuprum", "Arial", sans-serif;
   line-height: 24px;
   font-size: 24px;
   font-weight: 400;
   color: white;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   padding-left: 54px;
   padding-right: 54px;
   padding-bottom: 7px;
   padding-top: 11px;
   position: relative;
}

.logo::after {
	content: "";
	width: 220px;
	height: 5px;
	position: absolute;
	top: 40px;
	right: 0px;
	background-color: #c23f42;
}

.up-navigation form {
   float: left;
   width: 260px;
   color: #ffffff;
   font-family: "Cuprum", "Arial", sans-serif;
   font-size: 17px;
   line-height: 18px;
}


.up-navigation-links {
   float: right;
   width: 460px;
}


.up-navigation-links ul{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
}

.up-navigation-links li {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.up-navigation-links a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #ffffff;
  background-color: #293449;
}

.up-navigation-links a:hover {
  background-color: #212a3a;
}

.up-navigation-links a:active {
  background-color: #161d29;
  color:
}

.up-navigation-links .up-navigation-order {
 background-color: #518534;
}

.up-navigation-links .up-navigation-order:hover {
 background-color: #63a63e;
}

.up-navigation-links .up-navigation-order:active {
background-color: #5fbb2d;
	opacity: 0.5;
}

.description-left-column {
	width: 270px;
	float: left;
	padding-left: 52px;
	margin-right: 10px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ff5357;
}

.contacts {
	width: 270px;
	float: left;
	padding-left: 10px;
	margin-right: 20px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	text-decoration: none;
}

.contacts-phone-number {
	color: fb463c;
	border: 5px #ffffff;
}


.contacts-address {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #3d546e;
	text-align: center;
	font-weight: normal;
}

.user-block {
	width: 300px;
	float: right;
	}

.user-block ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
	}

.user-block li {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
	}

.user-block a {
  display: block;
  text-decoration: none;
  padding: 12px 25px;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation {
	width: 940px;
}

.main-navigation ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
   background-color: #3d546e;
   text-align: center;
	}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;

	}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background-color: #3d546e;
}


.offers { /* нужен ли этот див? */
	width: 940px;
	background-color: #f4f1bf;
	margin-bottom: 53px;
}


.section-name   {
	width: 940px;
	background-color: #f9f5f0;
	margin-bottom: 20px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #3d546e;
	position: relative;
}

.section-name h2 {
	display: inline-block;
	vertical-align: top;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;

}

.btn {
	display: block;
	vertical-align: middle;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
	text-transform: uppercase;
	/* padding-top: 9px;
	padding-bottom: 11px; */
	text-align: center;
	padding: 15px;
	height: auto;
}

.section-name .btn {
	position: absolute;
	right:50px;
	top: 50%;
	transform: translateY(-50%);
	width: 254px;

}



.companies-logo {
	width: 940px;
	background-color: #f4f1bf;
	margin-bottom: 85px;
}

.services {
	width: 940px;
	background-color: #f4f1bf;
	margin-bottom: 79px;
}

.index-about-us {
	width: 940px;
	background-color: #3474bc;
	margin-bottom: 79px;
}

.index-info-about-us {
	float: left;
	width: 540px;
	background-color: #f4f1bf;
	margin-right: 10px;
}

.index-contact-us {
	float: right;
	width: 390px;
	background-color: #f4f1bf;

}

.footer {
	margin-top: 86px;



}

.first-footer {
	width: 940px;
	background-color: #f4f1bf;
}

.second-footer {
	width: 940px;
	background-color: #3474bc;
}

.copyright {
	width: 320px;
	float: left;
	background-color: #f4f1bf;
	margin-right: 70px;
}


.social {
	width: 160px;
	float: left;
	background-color: #f4f1bf;
}

.mail-us {
	width: 320px;
	float: right;
	background-color: #f4f1bf;
}




/* каталог   */

.breadcrumbs {
	width: 390px;
	background-color: #f4f1bf;
	margin-bottom: 20px;
}


.filter {
	width: 940px;
	background-color: #f4f1bf;
	margin-bottom: 20px;
}

.catalog-left-column {
	width: 220px;
	background-color: #f4f1bf;
	float: left;
	margin-right: 20px;
}

.catalog-right-column {
	width: 700px;
	background-color: #f4f1bf;
	float: right;
}

.catalog-page {
	width: 700px;
	background-color: #f4f1bf;
}

.catalog-columns {
	margin-bottom: 60px;
}

.catalog-about-product {
	width: 940px;
	background-color: #f4f1bf;
}



h1 {
  font-size: 30px;
  font-family: "Cuprum";
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
  }


.product-cart h3 {
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: bold;
  line-height: 20px;
  color: rgb(0, 0, 0);
  }

/*.yellow-nav {
  color: black;
}

.logo {
	width:;
	height:;

	background-color: red;
	border-bottom: 3px solid darkred;
}
*/
