@font-face {
	font-family: "Cuprum";
	src:

		url("../fonts/cuprum.woff")
		format("woff");
}


body {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: 24px;
  color: rgb(0, 0, 0);
  min-width: 960px;
  }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}



/* Header */

.main-header {
	margin-bottom: 59px;
	background-color: #f3f7f9;
	width: 100%;
	max-height: 280px;
	margin-bottom: 44px;
	}

.up-navigation-background {
	width: 100%;
	background-color: #33445a;
   }


.catalog-header {
	 margin-bottom: 23px;
}

.up-navigation {
	width: 940px;
	margin-bottom: 46px;
	background-color: 0ff1e6;
}


.logo {
   float: left;
   width: 112px;
   background-color: #ee3643;
   font-family: "Cuprum", "Arial", sans-serif;
   line-height: 24px;
   font-size: 24px;
   font-weight: 400;
   color: white;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   padding-left: 54px;
   padding-right: 54px;
   padding-bottom: 7px;
   padding-top: 11px;
   position: relative;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732; 
}

.logo::after {
	content: "";
	width: 220px;
	height: 5px;
	position: absolute;
	top: 40px;
	right: 0px;
	background-color: #b52933;
}


.logo:hover::after {
    background-color: #9a212a;
}
    
.logo:active::after {
    background-color: #8e1e26;
}

.lower-logo {
   float: left;
   width: 112px;
   height: 63px;
   background-color: #ee3643;
   font-family: "Cuprum", "Arial", sans-serif;
   line-height: 36px;
   font-size: 36px;
   font-weight: 400;
   color: white;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   padding-left: 54px;
   padding-right: 54px;
   padding-bottom: 7px;
   padding-top: 11px;
   position: relative;
}

.lower-logo:hover {
    background-color: #ca2c37;
}

.lower-logo:active {
    background-color: #ba2732; 
}

.lower-logo::after {
	content: "";
	width: 220px;
	height: 5px;
	position: absolute;
	top: 40px;
	right: 0px;
	background-color: #b52933;
}


.lower-logo:hover::after {
    background-color: #9a212a;
}
    
.lower-logo:active::after {
    background-color: #8e1e26;
}


.up-navigation form {
   float: left;
   width: 260px;
   color: #ffffff;
   font-family: "Cuprum", "Arial", sans-serif;
   font-size: 17px;
   line-height: 18px;
   
}


.search input {
    background-color: #33445a;
    border: none;
}

.search input:hover { 
    background-color: #212a3a;
    border: none;
}


.up-navigation-links {
   float: right;
   width: 460px;
}


.up-navigation-links ul{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
}

.up-navigation-links li {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.up-navigation-links a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #ffffff;
  background-color: #33445a;
}

.up-navigation-links a:hover {
  background-color: #212a3a;
}

.up-navigation-links a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.up-navigation-links .up-navigation-order {
 background-color: #518534;
}

.up-navigation-links .up-navigation-order:hover {
 background-color: #63a63e;
}

.up-navigation-links .up-navigation-order:active {
 background-color: #5fbb2d;
 opacity: 0.5;
}

.description-left-column {
	width: 270px;
	float: left;
	padding-left: 52px;
	margin-right: 10px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ff5357;
}

.contacts {
	width: 270px;
	float: left;
	padding-left: 10px;
	margin-right: 20px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	text-decoration: none;
}

.contacts-phone-number {
    width: 264px;
	color: #eb686a;
	border: 3px solid #ffffff;
    text-decoration: none;
    padding: 12px 22px 8px 8px;
}


.contacts-address {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #3d546e;
	text-align: center;
	font-weight: normal;
}

.user-block {
	width: 300px;
	float: right;
	}

.user-block ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
}

.user-block a {
   display: inline-block;
   vertical-align: top;
   font-family: "Cuprum", "Arial", sans-serif;
   font-size: 21px;
   line-height: 21px;
   color: #000000;
}

.user-block a:hover {
   color: #ee3643;  
}

.user-block a:active {
   color: #000000;
   opacity: 0.5; 
}

.user-block a {
  display: block;
  text-decoration: none;
  padding: 12px 25px;
  color: #000000;
  background-color: #ffffff;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:active {
  color: #000000;
  opacity: 0.5;
}

.main-navigation {
	width: 940px;
}

.main-navigation ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 0;
   background-color: #3d546e;
   text-align: center;
	}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;

	}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  }

 .main-navigation a:hover {
    background-color: #293449;
    
}

 .main-navigation a:active {
    background-color: #1d2739;
    opacity: 0.5;
}


.offers {
    width: 940px;
	margin-bottom: 53px;
    font-size: 24px;
    font-family: "Cuprum";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
}

.index-offer {
    display: table-cell;
    width: 300px;
    height: 123px;
}

.index-offer-table {
    display: table;
    
}


.cell {
    display: table-cell;
    width: 400px;
}

.offers-first-row {
    display: table-row;
   
}

.offers-second-row {
    display: table-row;
    width: 300px;
    
}



.materials {
    background-color: #ffbf47;
    display: table-cell;
    
}

.tool {
    background-color: #3bbce6;
    display: table-cell;
    
}
.technique {
    background-color: #dc91d8;
    display: table-cell;
    
}

.discounts {
    background-color: #8ed78f;
    display: table-cell;
    
}

.shipping {
    background-color: #ffbf47;
    display: table-cell;
    
}

.slider {
    display: table-cell;
    position: relative;
}

.slider-title {
  font-size: 36px;
  font-family: "Cuprum";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  position: absolute;
    
  
}

.slider p {
  position: absolute; 
  top: 100px;
  font-size: 18px;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  line-height: 1.333;
  
}

    
}

.section-name   {
	width: 940px;
	background-color: #f9f5f0;
	margin-bottom: 20px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #3d546e;
	position: relative;
}

.section-name h2 {
	display: inline-block;
	vertical-align: top;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;

}

.btn {
	display: block;
	vertical-align: middle;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
    border-radius: 5px;
	text-transform: uppercase;
	/* padding-top: 9px;
	padding-bottom: 11px; */
	text-align: center;
	padding: 15px;
	height: auto;
    text-decoration: none;
}



.section-name .btn {
	position: absolute;
	right:50px;
	top: 50%;
	transform: translateY(-50%);
	width: 254px;
    background-color: #ff5357;

}


.materials .btn {
	/*position: absolute;
	right:50px;
	top: 50%;
	transform: translateY(-50%);*/
	width: 136px;
    background-color: #e5ac40;

}

.tool .btn {
	/*position: absolute;
	right:50px;
	top: 50%;
	transform: translateY(-50%);*/
	width: 136px;
    background-color: #35a9cc;

}

.technique .btn {
	/*position: absolute;
	right:50px;
	top: 50%;
	transform: translateY(-50%);*/
	width: 136px;
    background-color: #c682c2;

}

.discounts .btn {
	/*position: absolute;
	right:50px;
	top: 50%;
	transform: translateY(-50%);*/
	width: 136px;
    background-color: #80c180;

}

.shipping .btn {
	/*position: absolute;
	right:50px;
	top: 50%;
	transform: translateY(-50%);*/
	width: 136px;
    background-color: #e5ac40;

}

.btn-open-catalog {
    width: 200px;
    position: absolute;
    top: 300px;
    background-color: #ff5357;
}

.companies-logo {
	width: 940px;
	background-color: #f4f1bf;
	margin-bottom: 85px;
}

.services {
	width: 940px;
	background-color: #f4f1bf;
	margin-bottom: 79px;
}

.index-about-us {
	width: 940px;
	background-color: #3474bc;
	margin-bottom: 79px;
}

.index-info-about-us {
	float: left;
	width: 540px;
	background-color: #f4f1bf;
	margin-right: 10px;
}

.index-contact-us {
	float: right;
	width: 390px;
	background-color: #f4f1bf;

}

.footer {
	margin-top: 86px;



}

.first-footer {
	width: 940px;
	background-color: #f4f1bf;
}

.second-footer {
	width: 940px;
	background-color: #3474bc;
}

.copyright {
	width: 320px;
	float: left;
	background-color: #f4f1bf;
	margin-right: 70px;
}


.social {
	width: 160px;
	float: left;
	background-color: #f4f1bf;
}

.mail-us {
	width: 320px;
	float: right;
	background-color: #f4f1bf;
}




/* каталог   */

.breadcrumbs {
	width: 390px;
	background-color: #f4f1bf;
	margin-bottom: 20px;
}


.filter {
	width: 940px;
	background-color: #f4f1bf;
	margin-bottom: 20px;
}

.catalog-left-column {
	width: 220px;
	background-color: #f4f1bf;
	float: left;
	margin-right: 20px;
}

.catalog-right-column {
	width: 700px;
	background-color: #f4f1bf;
	float: right;
}

.catalog-page {
	width: 700px;
	background-color: #f4f1bf;
}

.catalog-columns {
	margin-bottom: 60px;
}

.catalog-about-product {
	width: 940px;
	background-color: #f4f1bf;
}



h1 {
  font-size: 30px;
  font-family: "Cuprum";
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
  }


.product-cart h3 {
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: bold;
  line-height: 20px;
  color: rgb(0, 0, 0);
  }

/*.yellow-nav {
  color: black;
}

.logo {
	width:;
	height:;

	background-color: red;
	border-bottom: 3px solid darkred;
}
*/
